<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title></title>
  <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <h1>トップページ</h1>
  <ul>
    <li><a href="{{ url_for('user.list') }}">ペット生成</a></li>
    <li><a href="{{ url_for('user.list') }}">ペット一覧</a></li>
    <li><a href="{{ url_for('user.list') }}">ペットの世話</a></li>
  </ul>

  <div class="graphs-wrapper">
    <!-- ペット生成 -->
    <div class="pet-add">
      {% include 'pet_add.html' %}
    </div>
     <!-- ペット一覧表示 -->
     <div class="pet-list">
      {% include 'pet_list.html' %}
    </div>
    <!-- ペット世話 -->
    <div class="pet-care">
      {% include 'pet_care.html' %}
    </div>
  </div>

</body>

</html>