header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}
.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}