header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}
.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pet-care {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
    background-image: image("images/pet-care.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}