<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title>ペット育成アプリ</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='index-style.css') }}" />
</head>

<body>
  <h1>Pet Breeding</h1>
  <div class="top_page">
    <div class="top_pet">
      <h3>ペット作成</h3>
      <li><a href="{{ url_for('pet.add') }}">ペットを作成する</a></li>
    </div>
    <div class="top_pet">
      <h3>ペット育成</h3>
      <ul>
        {% for pet in pets %}
          <li><a href="{{ url_for('pet.care', pet_id=pet.id) }}">
            {{ pet.name }}の世話をする
          </a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="top_pet_list">
    <h3>ペット一覧</h3>
    <li><a href="{{ url_for('pet.list') }}">ペット一覧</a></li>
  </div>
  {% include 'pet_list.html' %}

</body>

</html>