<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>ペット一覧</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('pet.index') }}">HOME</a></li>
    </ul>

    <a href="{{ url_for('pet.add') }}">新しいペットを追加</a>

    <table>
        <thead>
            <tr>
                <th>名前</th>
                <th>種類</th>
                <th>レベル</th>
                <th>幸福度</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for pet in items %}
            <tr>
                <td>{{ pet.name }}</td>
                <!-- ToDo: pet.typeは整数になっているので、場合分けなどで種類名が表示されるようにする -->
                <td>
                    {% if pet.type == 0 %}
                        犬
                    {% elif pet.type == 1 %}
                        猫
                    {% elif pet.type == 2 %}
                        鳥
                    {% endif %}
                </td>
                <!-- ToDo: 現在のレベルを追加 -->
                <td>{{ pet.level }}</td>
                <!-- ToDo: 現在の幸福度を追加 -->
                <td>{{ pet.happiness }}</td>
                <!-- ToDo: ペットの現在の成長状態の画像を追加 -->
                <td>
                    <div class="pet-option">
                        <label>
                            {% if pet.type == 0 %}
                                <img src="{{ url_for('static', filename='images/dog.jpeg') }}" alt="犬の画像">
                            {% elif pet.type == 1 %}
                                <img src="{{ url_for('static', filename='images/cat.jpg') }}" alt="猫の画像">
                            {% elif pet.type == 2 %}
                                <img src="{{ url_for('static', filename='images/bird.jpg') }}" alt="鳥の画像">
                            {% endif %}
                        </label>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
