<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ペット作成</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>新しいペットの作成</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('pet.index') }}">HOME</a></li>
        <li><a href="{{ url_for('pet.list') }}">ペット一覧</a></li>
    </ul>

    <div class="label-center">種類を選んでね</div>
    
    <!-- ToDo: 作成済みの種類のペットは作成できないようにする -->
    <form action="{{ url_for('pet.add') }}" method="post" class="pet-form">
        <div class="pet-selection">
            <div class="pet-option">
                <input type="radio" id="dog" name="type" value="0" required>
                <label for="dog">
                    <img src="{{ url_for('static', filename='images/dog.jpeg') }}" alt="犬の画像">
                </label>
            </div>
            <div class="pet-option">
                <input type="radio" id="cat" name="type" value="1" required>
                <label for="cat">
                    <img src="{{ url_for('static', filename='images/cat.jpg') }}" alt="猫の画像">
                </label>
            </div>
            <div class="pet-option">
                <input type="radio" id="bird" name="type" value="2" required>
                <label for="bird">
                    <img src="{{ url_for('static', filename='images/bird.jpg') }}" alt="鳥の画像">
                </label>
            </div>
        </div>

        <!-- ペットの名前入力欄 -->
        <label for="name" class="name-label">ペットの名前を入力してね</label>
        <input type="text" id="name" name="name" class="name-input" required>
        <button type="submit" class="submit-button">作成</button>
    </form>
</body>
</html>
